@{
    ViewData["Title"] = "Lista de categorias | VestWEB";
}

<link href="~/css/cadastros.css" rel="stylesheet" type="text/css" media="all" />

<div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
        <p>- Lista -</p>
        <h3 class="heading">CATEGORIAS</h3>
        <p>Para cadastrar uma categoria: <a asp-controller="cadastros" asp-action="Categorias">Clique aqui para acessar a tela cadastro</a></p>
    </article>
    <!-- ################################################################################################ -->
</div>

<div>
    <div>
        <label for="txtdescricaocategoria">Informe a descrição da categoria</label>
        <input type="text" class="form-control" id="txtdescricaocategoria" />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody id="itens">
        </tbody>
    </table>
</div>


