@{
    ViewData["Title"] = "Lista de marcas | VestWEB";
}

<link href="~/css/cadastros.css" rel="stylesheet" type="text/css" media="all" />

<div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
        <p>- Lista -</p>
        <h3 class="heading">MARCAS</h3>
        <p>Para cadastrar uma marca: <a asp-controller="cadastros" asp-action="marcas">Clique aqui para acessar a tela cadastro</a></p>
    </article>
    <!-- ################################################################################################ -->
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="form-group">
            <label for="txtdescricaocategoria">Informe a descrição da marca</label>
            <input type="text" class="form-control" id="txtdescricaomarca" />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Alterar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody id="itens">
            </tbody>
        </table>
    </main>
</div>


