@{
    ViewData["Title"] = "Lista de marcas | VestWEB";
}

<link href="~/css/cadastros.css" rel="stylesheet" type="text/css" media="all" />

<div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
        <p>- Lista -</p>
        <h3 class="heading">MARCAS</h3>
        <p>Para cadastrar uma marca: <a asp-controller="cadastros" asp-action="marcas">Clique aqui para acessar a tela cadastro</a></p>
    </article>
    <!-- ################################################################################################ -->
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <form>
            <div class="form-group">
                <label for="Campoidentificador">Identificador da Categoria</label>
                <input type="number" placeholder="ID" class="form-control" id="Campoidentificador" readonly>
            </div>
            <div class="form-group">
                <label for="desccategoria">Descrição da categoria</label>
                <input type="text" placeholder="categoria" class="form-control" id="desccategoria">
            </div>
            <button type="button" class="btn btn-primary">Salvar</button>
        </form>
    </main>
</div>