@{
    ViewData["Title"] = "Página inicial | VestWEB";
}

<div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
        <p>Bem vindo ao VestWEB</p>
        <h3 class="heading">Projeto WEB para utilização API</h3>
        <p>Estamos fazendo testes de consumo de API</p>
    </article>
    <!-- ################################################################################################ -->
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <section id="introblocks">
            <ul class="nospace group">
                <li class="one_third">
                    <figure>
                        <a class="imgover" href="#"><img src="images/demo/348x220.png" alt=""></a>
                        <figcaption>
                            <h6 class="heading">Aliquam faucibus</h6>
                            <p>Ipsum eu ipsum donec ac orci sed lectus elementum fringilla nullam dictum nisi nec mauris phasellus ut lacus.</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </main>
</div>
